h1,h2,h3,h4{
  color:red;
 
}
h1{
  text-align: center;
}
body{
  background-color: ghostwhite;
}
h5{
  font-size: large;
  color: red;
}
.capstone{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.rovaku{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.me{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
img{
  float: right;
  height: 40%;
  width: 50%;
}